include ../common/_var
include ../common/_mixin

doctypehtml
html(lang='en')
	include ../common/head
	body
		include ../common/sprite
		main.main
			include ../common/controls
			include ../common/pay
 
		include ../common/footer 
	// END body