footer.footer
    .container 
        .footer__dev 
            div Powered by
            .footer__logo
                svg.icon
                    use(xlink:href="#logo")

//- script(src="js/scripts.min.js")
script(src="js/custom.js")
